/* =============================================================================
   My Responsive Grid
   12-column fluid responsive CSS grid
   Author: Lee Munroe
   Date: September 2012
   Edits by: Sacha Schmid
   ========================================================================== */

/**
 * `.container` serves as a wrapper for the grid.
 */

.container {
	max-width: 75em;
	margin: 0 auto;
	padding: 0 0.625em;
	overflow: hidden;
}

[class*="span"] {
	display: block;
	margin-bottom: 1em;
}

/**
 * 30em marks the minimum width for the grid to take effect. Up to this width,
 * grid columns appear stacked.
 */

@media (min-width: 30em) {
	[class*="span"] {
		float: left;
		margin-right: 2.1277%;
		margin-bottom: 0;
	}

	.span1  { width: 6.3829%; }
	.span2  { width: 14.8936%; }
	.span3  { width: 23.4042%; }
	.span4  { width: 31.9148%; }
	.span5  { width: 40.4255%; }
	.span6  { width: 48.9362%; }
	.span7  { width: 57.4468%; }
	.span8  { width: 65.9574%; }
	.span9  { width: 74.468%; }
	.span10 { width: 82.9787%; }
	.span11 { width: 91.4891%; }

	[class*="span"].last{
		margin-right: 0;
	}
}